@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Signika+Negative:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  height: auto;
  background: -webkit-linear-gradient(left, #071843, #0d296e);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

html, body{
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.conteudo {
  min-height: 87vh;
  display: flex;
  padding: 3% 7% 0% 7%;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}

.conteudo__formulario {
  width: 70%;
  background-color: #0d296e;
  border-radius: 0.62rem;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.62rem 0 rgba(0, 0, 0, 0.3);
}

.conteudo_formulario_titulo {
  font-size: 2rem;
  font-weight: 200;
  margin: 1% 0;
  text-align: center;
}

.conteudo_formulario_titulo2 {
  font-size: 1.2rem;
  font-weight: 300;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 1% 0;
}

.group-input {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.formulario__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  gap: 0.6rem;
}

.col-4 {
  width: 33%;
}

.col-2 {
  width: 16%;
}

.col-5 {
  width: 41%;
}

.col-6 {
  width: 49%;
}

.col-12 {
  width: 99%;
}

.formulario__input input {
  padding: 0.6rem;
  border-radius: 0.9rem;
  outline: none;
  border: #0d296e solid 0.06rem;
  color: rgb(68, 68, 68);
}

.teste {
  text-align: center;
  margin-top: -0.31rem;
}

.formulario__button {
  display: flex;
  justify-content: center;
}

.conteudo__formulario_button {
  width: 25%;
  margin: 1%;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  border: #f37820 solid 0.04rem;
  background-color: #f37820;
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s ease;
}

.conteudo__formulario_button:hover {
  background-color: #071843;
  border: none;
  transform: scale(1.1);
}

.checkbox-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.campo_obrigatorio {
  color: red;
}

.input-upload {
  display: flex;
  border: #fff solid 0.06rem;
  background-color: #fff;
  color: #071843;
  border-radius: 0.9rem;
  gap: 0.31rem;
  padding: 2%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.input__upload__paragrafo {
  font-size: 0.9rem;
}

.label_button_selecionar {
  background-color: #fff;
  color: #f37820;
  border-radius: 1rem;
  margin: 2%;
  padding: 5%;
  text-align: center;
}

.conteudo_imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.conteudo__logo {
  width: 70%;
}

.conteudo__imagem_titulo {
  font-family: "Merienda", cursive;
  width: 80%;
}

footer {
  bottom: 0;
  padding: 1rem;
  background: -webkit-linear-gradient(left, #071843, #0d296e);
  text-align: center;
}

.footer_logo {
  width: 15%;
  margin-right: 5%;
}

.footer_logo_fapema {
  width: 8%;
}

/* Responsividade */

@media (max-width: 1300px) {
  .conteudo {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 12% 7% 0% 7%;
  }

  .conteudo_imagem {
    width: 80%;
  }

  .conteudo__imagem_titulo {
    font-size: 2rem;
    margin-bottom: 5%;
  }

  .conteudo__logo {
    display: none;
  }

  .conteudo__formulario {
    width: 100%;
  }

  .conteudo__formulario_button {
    font-size: auto;
  }

  .footer_logo {
    width: 20%;
  }
  
  .footer_logo_fapema {
    width: 10%;
  }
}

@media (max-width: 777px) {
  .conteudo {
    padding: 10% 0%;
  }

  .conteudo__formulario {
    width: 90%;
  }
  .formulario__input {
    flex-basis: 100%;
  }


  .footer_logo {
    width: 35%;
  }
  
  .footer_logo_fapema {
    width: 20%;
  }

  .conteudo__formulario_button{
    width: 50%;
  }
}

@media (max-width: 445px) {
  .conteudo__formulario {
    width: 85%;
    padding: 5%;
  }

  .formulario__input {
    width: auto;
  }

  .footer_logo {
    width: 50%;
    margin-right: 5%;
  }

  .footer_logo_fapema {
    width: 25%;
  }
}

@media (max-width: 377px) {
  .conteudo {
    padding: 5%;
    overflow-x: hidden;
  }

  .conteudo__formulario{
    padding: 1%;
  }

  .conteudo_formulario_titulo{
    width: auto;
  }

  .formulario__input {
    width: auto;
  }

  .formulario__input input {
    width: auto;
  }
  
  .col-2, .col-4, .col-5,  .col-6, .col-12 {
    width: 99%;
  }
} 